.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 100000;

}

.span {
    color: rgb(20, 185, 185);
    text-transform: uppercase;
    font-size: 2rem;
    padding-right: .1rem;
}

.title {
    color: rgb(19, 18, 18);
    font-size: 1.7rem;
    padding-left: 1rem;
}

.cart {
    padding-right: 2rem;
}

.icon {
    font-size: 2.5rem;

    color: rgb(17, 17, 17);
}

.itemTotals {
    width: .4rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid red;
    padding: .2rem;
    font-size: .8rem;
    color: white;
    background-color: red;
    font-weight: bold;
    margin-left: -.4rem;
}