.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.cardTop {
    display: flex;

}

.imgCart {
    width: 6rem;
    height: auto;
}



.icon {
    font-size: 2rem;
}