.containerProduct {
    max-width: 1240px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
}

.button {
    text-transform: uppercase;
    background-color: rgb(217, 109, 111);

}

.price {}

.addToCart {}

.description {}

.appropiate {}

.gender {}

.material {}

.benefits {}


@media screen and (min-width:600px) {}