.containerProduct {
    max-width: 1240px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.nombre {
    margin-top: 0;
    font-size: 1.3rem;
}

.button {
    text-transform: uppercase;
    background-color: rgb(239, 64, 17);
    color: rgb(255, 255, 255);
    border: transparent solid;
    padding: .5rem 1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;

}

.price {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.addToCart {
    background-color: rgb(91, 46, 130);
    color: rgb(255, 255, 255);
    border: transparent;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
}

.description {}

.appropiate {}

.gender {}

.material {}

.benefits {}


@media screen and (min-width:760px) {
    .card {
        display: grid;
        grid-template-columns: 2;

    }

    .cardTop {
        grid-column: 1/2;
    }
}