.containerProduct {
    max-width: 1240px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
}

.button {
    text-transform: uppercase;
    background-color: rgb(239, 64, 17);
    border: transparent solid;
    padding: .5rem 1rem;
    margin: .5rem;

}

.price {}

.addToCart {}

.description {}

.appropiate {}

.gender {}

.material {}

.benefits {}


@media screen and (min-width:600px) {}